/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/* Fix for onClick e.target */
[class*="bi"] {
  pointer-events: none;
  margin-right: 0.25em;
}

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Browser Default */
html {
  box-sizing: border-box;
  height: 100%;
}

:root {
  --color-background: #f9f9f9;
  --color-foreground: #2e2e2e;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-orange: #f1c0a5;
  --color-darkorange: #e1b299;
  --color-boldorange: #e47336;
  --color-red: #e34f49;
  --color-heather: #a5a5a5;
  --color-lightgrey: #ededed;
  --color-beige: #f6f6f6;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --border-radius: 5px;
  --app-width: 1200px;
  --transform: transform 0.4s cubic-bezier(0.87, 0, 0.13, 1);
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: Rubik, sans-serif;
  font-size: calc(16px + 0.25vw);
  line-height: 1.5;
  font-weight: 300;
  color: var(--color-foreground);
  background-color: var(--color-background);
}

h1,
h2,
h3,
h4 {
  margin: 0 0 0.4em 0;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: contain;
  height: 100%;
}

button {
  cursor: pointer;
}

input,
select,
button,
textarea {
  outline: none;
}
select {
  background-color: var(--color-white);
  transition: none;
  -webkit-transition: none;
}

strong {
  font-weight: 500;
}

/* App */

#app {
  min-height: 100vh;
}

/* Grid */
.view {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1em;
  align-items: stretch;
}

.row {
  display: flex;
  padding: 0 1em;
}

.container {
  padding: 2em 1em;
  max-width: 1200px;
  margin: 0 auto;
}

/* Navbar */
.navbar {
  background-color: var(--color-orange);
  border-bottom: 1px solid var(--color-darkorange);
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 2em 1em;
}

.navbar .row {
  flex-direction: row;
  justify-content: space-between;
}

.navbar-controls {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 1em;
}

/* Header */
.header {
  background-color: var(--color-orange);
  padding: 0 0 1.5em;
  height: auto;
  text-align: center;
  flex-shrink: 0;
}

/* Logo */
.logo {
  display: block;
  text-decoration: none;
  font-size: 2.5em;
  font-weight: 500;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

/* Navigation */
nav ul {
  margin: 1em 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  margin: 0 0.25em;
  z-index: 1;
}

nav ul li a:after {
  content: "";
  display: none;
  position: absolute;
  top: -0.5em;
  bottom: -0.5em;
  left: -0.5em;
  right: -0.5em;
  padding: 0 1em;
  border-radius: 4px;
  background-color: var(--color-background);
  z-index: -1;
}

nav ul li a.active:after {
  display: block;
}

/* Profile */
.profile-info {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.5em;
}

.profile-avatar {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: var(--color-beige);
}

.profile-link {
  text-align: center;
  width: 100%;
}

/* Main */
main {
  flex-grow: 1;
}

/* Section Title */
.section-title {
  text-align: center;
  text-transform: capitalize;
  margin-top: 1em;
}

/* Article */
article {
  position: relative;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-darkorange);
  border-radius: var(--border-radius);
  transition: box-shadow 0.4s cubic-bezier(0, 0.8, 0.13, 1);
  display: flex;
  padding: 1em;
  height: 100%;
  z-index: 1;
}

article:hover {
  box-shadow: var(--box-shadow);
}

/* Single Article */
.single-article {
  display: block;
  border-bottom: 1px solid var(--color-darkorange);
  padding-bottom: 1em;
  padding-top: 1.5em;
}

.single-article .section-title {
  text-align: left;
  margin-top: 0.5em;
}

.meta-author {
  font-weight: 500;
  color: var(--color-boldorange);
}

.author-meta {
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Vote Component */
.vote-controls {
  display: flex;
  gap: 0.5em;
  align-items: center;
  margin: 2.5em 0 0.5em;
}

.vote-btn {
  border-radius: var(--border-radius);
  border: none;
  padding: 0.25em;
  text-align: center;
  transform: scale(1);
}

.vote-btn:active {
  transform: scale(0.9);
}

/* Comments */
.comment {
  border-bottom: 1px solid var(--color-darkorange);
  padding-bottom: 1em;
  margin-bottom: 2em;
}

.comment-section-title {
  text-align: left;
  margin-bottom: 1em;
}

.comment-box {
  position: relative;
  margin-bottom: 1em;
  border-bottom: 1px solid var(--color-lightgrey);
  padding-bottom: 1em;
  background-color: var(--color-white);
  padding: 1em;
  border-radius: var(--border-radius);
}

/* Post Comment */
.post-form-container {
  border-bottom: 1px solid var(--color-lightgrey);
  overflow: hidden;
  border-radius: var(--border-radius);
  background-color: var(--color-white);
}
.post-form-controls {
  display: flex;
  align-items: center;
  padding: 0 1em;
}

.post-form-controls textarea {
  flex: 1;
}

.btn-post {
  border: none;
  padding: 0.825em 1em;
  border-radius: var(--border-radius);
  font-family: inherit;
  font-weight: inherit;
  font-size: 0.825em;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  background-color: var(--color-black);
  color: var(--color-white);
}

.btn-post:active {
  transform: scale(0.98);
}

/* Floating Buttons */

.btn-floating {
  position: fixed;
  right: 1em;
  bottom: 1em;
  transform: scale(1);
  background-color: var(--color-black);
  color: var(--color-white);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  font-weight: inherit;
  z-index: 5;
}

.btn-delete-post {
  background-color: var(--color-red);
}

.btn-floating:active {
  transform: scale(0.95);
}

.btn-floating .bi {
  margin: 0;
}

/* Form Components */

textarea {
  padding: 1em 1em 1em 0;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  outline: none;
  resize: none;
}

.loggedin-user-info {
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.loggedin-user-info img {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: var(--color-white);
}

/* Card */
.card {
  flex-direction: row;
}

/* Post */
.post-title {
  text-transform: capitalize;
}

.post-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 1em;
}

.post-info .author-meta {
  color: var(--color-boldorange);
  font-weight: 500;
}

.post-meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  font-size: 1.05em;
}

/* Create Post */
.create-post-container {
  padding: 0 1em;
}

.create-post-container.active:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}

.create-post-form {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  padding: 2em 2em;
  position: fixed;
  width: calc(100% - 2em);
  max-width: 560px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
  transition: var(--transform);
  box-shadow: var(--box-shadow);
  z-index: 5;
}

.create-post-container.active .create-post-form {
  transform: translate(-50%, -50%);
}

.create-post-form button {
  width: 100%;
}

.create-post-form h3 {
  margin-bottom: 1em;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  position: relative;
}

.form-control input,
.form-control textarea,
.form-control select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-heather);
  min-height: 2.5em;
  appearance: none;
}

.form-control textarea {
  padding: 1em;
}

.form-control label {
  margin-bottom: 0.5em;
}

.form-control input,
.form-control select {
  padding: 0 0.625em;
}

.form-control .select-form {

}

.form-control .icons {
  position: absolute;
  right: 1em;
  top: 60%;

}

/* Success & Errors messages */
.success {
  background-color: #d7ffe8;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: var(--border-radius);
  text-align: center;
  font-weight: 400;
  color: #287f4e;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.error {
  background-color: #ffded7;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: var(--border-radius);
  text-align: center;
  font-weight: 400;
  color: #8f1f1f;
}

.server-error {
  background-color: #ffded7;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: var(--border-radius);
  text-align: center;
  font-weight: 400;
  color: #8f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

/* Select Box */
.select {
  border-bottom: 1px solid var(--color-lightgrey);
  padding: 1em 0;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-content {
  position: relative;
}

.select button {
  background-color: transparent;
  font-weight: 300;
  font-family: inherit;
  font-size: inherit;
  border: none;
}

.select-options.visible {
  display: block;
}

.select-options {
  position: absolute;
  display: none;
  margin: 0;
  padding: 1em;
  list-style-type: none;
  border-radius: 8px;
  top: 2.5em;
  left: 0;
  min-width: 250px;
  z-index: 2;
  color: var(--color-background);
  background-color: var(--color-black);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.select-options:after {
  content: "";
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--color-black);
  position: absolute;
  top: -1.5em;
  left: 1em;
  z-index: -1;
}

.select-options h4 {
  margin-top: 0.5em;
  margin-bottom: 0.85em;
}

.select-options li {
  margin-bottom: 0.5em;
}

.select-options li a {
  text-decoration: none;
}

.select-options li a:hover {
  color: var(--color-orange);
}

/* Error Page */
.error-page {
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}

/* Footer */
footer {
  background-color: var(--color-black);
  color: var(--color-background);
  padding: 1em 0;
  flex-shrink: 0;
}

/* Contact */
.contact-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.contact-links li a {
  text-decoration: none;
}

.contact-links li a:hover {
  color: var(--color-orange);
}

/* Custom Buttons */
.btn-delete {
  text-align: center;
  margin: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0.5em;
  top: 1em;
}

.btn-user-select img {
  pointer-events: none;
}

.btn-delete:active {
  transform: scale(0.9);
}

.btn-delete .bi {
  margin: 0;
}

.btn-select-profile {
  text-decoration: none;
  font-weight: 500;
}

/* No Posts */
.no-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
}

.no-post-message {
  font-style: italic;
  color: var(--color-heather);
}

.no-profile-comment {
  background-color: var(--color-white);
  padding: 1em;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.no-profile-message {
  overflow: hidden;
  padding-left: 0.5em;
}

.no-profile-comment img {
  background-color: var(--color-beige);
  float: left;
}

.no-profile-link {
  color: var(--color-boldorange);
}

/* Users Page */
.user-list {
  margin: 3em 0 3em 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.user-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-select {
  border: none;
  background-color: transparent;
  width: 10em;
  height: 10em;
  margin-bottom: 1em;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(0.9);
  background-color: var(--color-white);
  transition: var(--transform);
}

.user-select:hover {
  transform: scale(1);
  border: 5px solid var(--color-orange);
}

.user-select:active {
  border: 3px solid var(--color-darkorange);
}

.avatar-label {
  font-weight: 500;
}
